.abt{
    background-image: url('../img/background/aboutback.jpg');
    background-size: cover; /* Ensures the background image covers the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    padding: 20px 0;
     /* Adjust padding as needed */
}
#learn-more {
    text-decoration: none;
    background-color: #3e1c67;
    color: white;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: small;
    font-weight: 600;
    letter-spacing: 0.8px;
  }
  
  .content-text {
    /* margin-top: 35px; */
    font-size: large;
    text-align: justify;
    color: white;
  }
  