
.hcol {
    background-image: url('../img/background/header1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 80px 0;
}


.heabtn{
    background-image: url('../img/background/3d-render-low-poly-plexus-design-network-communications.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 80px 0; 
   border-radius: 10px;
}
.header-text {
    color: #fafafa;
    font-weight: bold; 
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px; 
}


#explore {
    text-decoration: none;
    background-color: #3e1c67;
    color: white;
    padding: 10px 20px; 
    border-radius: 6px;
    font-size: 1rem; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
}

#explore:hover {
    background-color: #5a2a93;
}


.img-cont {
    flex-grow: 0;
    flex-shrink: 0;
}


.header-img-1 {
    border-radius: 20px;
    width: 100%; 
    display: block;
    margin-bottom: 20px; 
}
